.parent {
	margin: 20px;
	display: grid;
	grid-template-columns: 80px repeat(6, auto) 80px;
	grid-template-rows: 80px repeat(3, auto);
	grid-column-gap: 5px;
	grid-row-gap: 20px;
}

.logo {
	grid-area: 1 / 1 / 2 / 2;
	cursor: pointer;
	text-align: center;
}

.options {
	grid-area: 1 / 2 / 2 / 8;
	text-align: center;
	vertical-align: bottom;
}
.option-button {
	cursor: pointer;
	border-width: 5px 20px;
	border-color: transparent;
	background-color: white;
	vertical-align: center;
}

.upper-right {
	grid-area: 1 / 8 / 2 / 9;
}

.left {
	grid-area: 2 / 1 / 5 / 2;
}

.right {
	grid-area: 2 / 8 / 5 / 9;
}

.title-container {
	grid-area: 2 / 2 / 3 / 8;
	background-color: transparent;
}

.subtitle-container-left {
	grid-area: 3 / 2 / 4 / 5;
	text-align: center;
	background-color: transparent;
}
.subtitle-container-right {
	grid-area: 3 / 5 / 4 / 8;
	text-align: center;
	background-color: transparent;
}
.subtitle-container-all-left {
	grid-area: 3 / 2 / 4 / 4;
	background-color: transparent;
}
.subtitle-container-middle {
	grid-area: 3 / 4 / 4 / 6;
	background-color: transparent;
}
.subtitle-container-all-right {
	grid-area: 3 / 6 / 4 / 8;
	background-color: transparent;
}

.description-container {
	grid-area: 4 / 2 / 5 / 8;
	background-color: transparent;
}
.all-desc-container-left {
	grid-area: 3 / 2 / 5 / 5;
	background-color: transparent;
}
.all-desc-container-right {
	grid-area: 3 / 5 / 5 / 8;
	background-color: transparent;
}

.membro1 {
	grid-area: 3 / 3 / 4 / 4;
	background-color: transparent;
}
.membro2 {
	grid-area: 3 / 4 / 4 / 5;
	background-color: transparent;
}
.membro3 {
	grid-area: 3 / 5 / 4 / 6;
	background-color: transparent;
}
.membro4 {
	grid-area: 3 / 6 / 4 / 7;
	background-color: transparent;
}