
.logo-img {
	aspect-ratio: 1;
	height: 100%;
}

.main-title {
	text-align: center;
	font-size: 80px;
}

.title1 {
	text-align: center;
	font-size: xx-large;
	margin-bottom: 20px;
}

.subtitle1 {
	text-align: center;
	font-size: larger;
}
.subtitle2 {
	text-align: center;
	font-size: larger;
	margin: 20px;
}

.di-piu-btn {
	margin: 40px;
	cursor: pointer;
}

.text1 {
	margin: 20px auto;
	max-width: 700px;
	text-align: justify;
	font-size: 18px;
}