{% extends "base.html" %}


{% block content %}

<div class="title-container">
	<div class="main-title">
		Scarica le nostre risorse
	</div>
</div>
<div class="all-desc-container-left box-text">
	<p><strong>Paper scientifico</strong>: Descrizione completa del modello di Fresnel Mirror e dei risultati sperimentali sul fascio acustico.</p>
	<p><strong>Pacchetto Audio Comparator</strong>: Tool Python per l'acquisizione e il confronto di due canali microfonici.</p>
	<p><strong>Pacchetto ZeroMirror Creator</strong>: Tool Python per la creazione di modelli di specchi di Fresnel.</p>
	<p><strong>Immagini e documentazione</strong>: Immagini e documentazione relativa al progetto e al prototipo realizzato.</p>
	<p><strong>Materiali aggiuntivi</strong>: In futuro saranno disponibili i dataset dei test e i file del prototipo per stampa 3D.</p>
</div>
<div class="all-desc-container-right box-text">
	<p><a href="/static/paper.txt" target="_blank">Scarica il paper scientifico</a></p>
	<p><a href="#" target="_blank">Repository GitHub del tool Audio Comparator</a></p>
	<p><a href="#" target="_blank">Repository GitHub del tool ZeroMirror Creator</a></p>
	<p><a href="#" target="_blank">Scarica le immagini e la documentazione</a></p>
	<p><a href="#" target="_blank">Link alle repository dei futuri strumenti</a></p>
</div>

{% endblock %}