{% extends "base.html" %}


{% block content %}
<div class="title-container">
	<div class="main-title">
		ZeroMirror
	</div>
</div>"
<div class="subtitle-container-left"> 
	<div class="title1">
		Fase 1
	</div>
	<div class="subtitle1">
		Sviluppo del più sottile specchio parabolico
		basato sull`idea di Fresnel
	</div>
	<button class="di-piu-btn" id="di-piu-btn1">Scopri di più</button>
</div>
<div class="subtitle-container-right">
	<div class="title1">
		Fase 2
	</div>
	<div class="subtitle1">
		Lo studio delle onde sonore parallele
		al passaggio attraverso metamateriali
	</div>
	<button class="di-piu-btn" id="di-piu-btn2">Scopri di più</button>
</div>
<div class="description-container"> 
	This is our beautiful project
</div>

{% endblock %}