{% extends "base.html" %}


{% block content %}

<div class="title-container"> 
	<div class="main-title">
		Il nostro progetto
	</div>
</div>
<div class="description-container"> 
	<div class="title1">
		Abstract
	</div>
	<div class="text1">
		In questo lavoro viene presentato un progetto didattico-scientifico finalizzato allo studio del fenomeno di riflessione delle onde sonore per la creazione di un fascio parallelo. L’obiettivo principale è analizzare il comportamento di tali onde al passaggio attraverso metamateriali acustici, valutando come la struttura fisica di un ostacolo influenzi la propagazione del suono. Utilizzando strumenti di calcolo simbolico e numerico è stata individuata una famiglia di equazioni in grado di descrivere uno specchio parabolico di spessore definito, basato sullo stesso principio fisico della lente di Fresnel. Il modello matematico è stato successivamente tradotto in una struttura fisica realizzata tramite stampa 3D.

	</div>
	<div class="title1">
		Sviluppo dell`idea
	</div>
	This is our beautiful idea
	<div class="title1">
		La soluzione
	</div>
	This is our beautiful solution
	<div class="title1">
		Creazione del prototipo
	</div>
	This is our beautiful prototype
</div>

{% endblock %}