{% extends "base.html" %}


{% block content %}

<div class="title-container">
	<div class="main-title">
		I nostri strumenti
	</div>
</div>
<div class="subtitle-container-all-left">
	Audio Comparator
	<br>
	<button class="di-piu-btn" id="di-piu-btn1">Scopri di più</button>
</div>
<div class="subtitle-container-middle">
	Beam Analyzer
	<br>
	<button class="di-piu-btn" id="di-piu-btn2">Scopri di più</button>
</div>
<div class="subtitle-container-all-right">
	Metamaterial Designer
	<br>
	<button class="di-piu-btn" id="di-piu-btn3">Scopri di più</button>
</div>
<div class="description-container">
	Questi strumenti sono stati sviluppati per supportare le fasi sperimentali e l'analisi acustica del progetto. Il primo tool, `audio_comparator`, confronta i segnali acquisiti da due microfoni per mettere in evidenza variazioni di ampiezza e frequenza. Il secondo aiuta a interpretare la distribuzione del fascio parallelo e a valutare l'effetto dei metamateriali. Il terzo consente di progettare e documentare le geometrie dei metamateriali studiati nel progetto.
	<br><br>
	Alcuni di questi strumenti saranno resi disponibili come link di download e come repository separate su GitHub, in modo da rendere accessibile il codice e favorire sviluppi successivi.
</div>

{% endblock %}