{% extends "base.html" %}


{% block content %}

<div class="title-container">
	<div class="main-title">
		I nostri strumenti
	</div>
</div>
<div class="subtitle-container-all-left">
	Tool 1
	<br>
	<button class="di-piu-btn" id="di-piu-btn1">Scopri di più</button>
</div>
<div class="subtitle-container-middle">
	Tool 2
	<br>
	<button class="di-piu-btn" id="di-piu-btn1">Scopri di più</button>
</div>
<div class="subtitle-container-all-right">
	Tool 3
	<br>
	<button class="di-piu-btn" id="di-piu-btn1">Scopri di più</button>
</div>
<div class="description-container">
	Questi tool sono stati sviluppati per bla bla bla
</div>

{% endblock %}