{% extends "base.html" %}


{% block content %}

<div class="title-container">
	<div class="main-title">
		Il team
	</div>
</div>
<div class="membro1">
	Matteo Forni <br> Coordinamento del progetto, sviluppo software e creazione del modello matematico
</div>
<div class="membro2">
	Matthieu Louis <br> Progettazione acustica, validazione sperimentale e analisi dati
</div>
<div class="membro3">
	Giorgio Bolognini <br> Modellazione 3D, realizzazione del prototipo e studio dei metamateriali
</div>
<div class="membro4">
	Rocco <br> Sviluppo teorico, supporto all'analisi dei risultati e stesura della documentazione
</div>
<div class="description-container">
	<div class="box-text">
		Il team unisce competenze in fisica, informatica e ingegneria dei materiali per affrontare lo studio del fascio sonoro parallelo e il comportamento dei metamateriali. Ogni membro ha contribuito alla realizzazione sperimentale, alla modellazione e alla disseminazione dei risultati.
	</div>
</div>

{% endblock %}