{% extends "base.html" %}


{% block content %}

<div class="title-container">
	<div class="main-title">
		Il team
	</div>
</div>
<div class="membro1">
	<strong>Matteo Forni</strong> <br> Coordinamento del progetto, sviluppo software e creazione del modello matematico
	<img src="/static/images/matteo.png" alt="Matteo Forni" class="team-image">
</div>
<div class="membro2">
	<strong>Matthieu Louis</strong> <br> Progettazione acustica, validazione sperimentale e analisi dati
	<img src="/static/images/matthieu.png" alt="Matthieu Louis" class="team-image">
</div>
<div class="membro3">
	<strong>Giorgio Bolognini</strong> <br> Modellazione 3D, realizzazione del prototipo e studio dei metamateriali
	<img src="/static/images/giorgio.png" alt="Giorgio Bolognini" class="team-image">
</div>
<div class="membro4">
	<strong>Rocco</strong> <br> Sviluppo teorico, supporto all'analisi dei risultati e stesura della documentazione
	<img src="/static/images/rocco.png" alt="Rocco" class="team-image">
</div>
<div class="description-container">
	<div class="box-text">
		Il team unisce competenze in fisica, informatica e matematica per affrontare lo studio del fascio sonoro parallelo. Ogni membro ha contribuito alla realizzazione sperimentale e allo sviluppo teorico, in base ai ruoli. La collaborazione ha permesso di integrare le diverse fasi del progetto, dalla progettazione alla validazione, fino alla documentazione finale.
	</div>
</div>

{% endblock %}