{% extends "base.html" %}


{% block content %}

<div class="title-container">
	<div class="main-title">
		Il team
	</div>
</div>
<div class="membro1">
	Rocco - Modello matematico e analisi teorica
</div>
<div class="membro2">
	Matthieu - Progettazione acustica e validazione sperimentale
</div>
<div class="membro3">
	Giorgio - Sviluppo software e strumenti di confronto audio
</div>
<div class="membro4">
	Matteo - Coordinamento del progetto e documentazione
</div>
<div class="description-container">
	Il team unisce competenze in fisica, informatica e ingegneria dei materiali per affrontare lo studio del fascio sonoro parallelo e il comportamento dei metamateriali. Ogni membro ha contribuito alla realizzazione sperimentale, alla modellazione e alla disseminazione dei risultati.
</div>

{% endblock %}